body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #2E2E2E;
}

.container {
  width: 375px;
  height: 100%;
  margin: 0 auto;
  padding: 10px;
  border: 4px solid #6966ff;
  border-radius: 15px;
  background-color: #1A1A1A;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  height: 30px;
}

.apply-btn {
  background-color: #6C63FF;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
  margin-left: 150px;
}

.menu-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
}

.content {
  text-align: center;
  color: white;
  padding: 20px 0;
}

.image-placeholder {
  height: 120px;
  background-color: #393953;
  border-radius: 8px;
}

.category {
  font-size: 14px;
  color: #9C9C9C;
  margin: 20px 0;
}

.title {
  font-size: 32px;
  margin: 10px 0;
}

.status {
  display: inline-flex;
  align-items: center;
  background-color: #00B97C;
  color: white;
  border-radius: 12px;
  padding: 3px 10px;
  margin: 10px 0;
  font-size: 16px;
}

.status-text {
  margin-right: 5px;
}

.status-check {
  font-size: 12px;
  background-color: white;
  color: #00B97C;
  border-radius: 100px;
  padding: 2px 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.funding-amount {
  font-size: 16px;
  margin: 20px 0;
}

.project-link {
  color: #6C63FF;
  text-decoration: none;
}

.project-link:hover {
  text-decoration: underline;
}

footer {
  padding: auto;
}

.team {
  color: white;
  text-align: center;
  font-size: 16px;
}

.sidebar {
  width: 375px;
  height: 100%;
  position: fixed;
  top: 0;
  right: -400px; 
  padding: 10px;
  border: 2px solid #5A5A5A;
  border-radius: 15px;
  background-color: #393953;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease; 
  z-index: 1000; 
}


.sidebar.open {
  right: 0; 
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.sidebar-logo {
  height: 30px;
}

.sidebar-logo{
  height: 30px;
}

.sidebar .close-btn {
  font-size: 24px;
  color: white;
  cursor: pointer;
  margin-left: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.sidebar ul li {
  margin: 30px 0;
  font-size: 20px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
}

.sidebar ul li a:hover {
  text-decoration: underline;
}

.sidebar .social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.sidebar .social-icons i {
  font-size: 24px;
  color: white;
}

